<div class="row">
    <div class="col s12">
        <h5>Auto banning of new accounts</h5>
        <p>These settings set the minimum days an account has to be exist before it may join your server,
            the account will be banned otherwise</p>

        <div class="switch">
            <label for="young_account_ban_enabled">
                Disabled
                <input type="checkbox" name="young_account_ban_enabled" id="young_account_ban_enabled"
                       #if($settings.isYoungAccountBanEnabled())checked="checked"#{end}>
                <span class="lever"></span>
                Enabled
            </label>
        </div>

        <br/>

        <div class="input-field">
            <label for="young_account_threshold">Threshold</label>
            <input type="number" name="young_account_threshold"
                   id="young_account_threshold" value="$settings.getYoungAccountThreshold()"
                   min="-1" max="1000000" required/>
        </div>
    </div>
</div>
