#define ($styles)
<style>
    #embedColor {
        visibility: hidden;
    }

    #embedPreview {
        background: $guildColor;
    }
</style>
#end

#define ($content)
<div class="row">
    <form class="col s12" method="post">
        ## Basic settings
        <div class="row section">
            <div class="input-field col s12 m1">
                <input placeholder="db!" id="prefix" name="prefix" type="text" maxlength="10"
                       value="$settings.getCustomPrefix()" required>
                <label for="prefix">Prefix</label>
            </div>

            #parse('/views/dashboard/includes/basic/welcomeLeave.vm')
            #parse('/views/dashboard/includes/basic/autoRole.vm')
        </div>

        <div class="row">
            #parse('/views/dashboard/includes/basic/switches.vm')

            <div class="input-field col s12 m5">
                <button type="button" id="embedPreview" onclick="showColorPicker()"
                        class="btn-large waves-effect waves-light waves-ripple white-text">
                    Embed color
                </button>

                <input type="color" id="embedColor" name="embedColor"
                       onchange="displayColor(this.value);" value="$guildColor"/>
            </div>
        </div>

        <div class="row">
            <div class="divider"></div>
        </div>

        <div class="row section">
            <h6>Leave timeout:</h6>
            <p>The following value indicates the amount of seconds before the bot checks if the vc is empty and
                automatically leaves</p>

            <div class="col s5">
                <div class="input-field inline">
                    <input type="number" name="leaveTimeout" value="$settings.getLeaveTimeout()" min="1"
                           max="60" required/>
                </div>
                Seconds
            </div>
        </div>

        <div class="row">
            <div class="divider"></div>
        </div>

        <button type="submit" class="btn waves-effect waves-light waves-ripple blue accent-4 white" value="submit">
            Save
        </button>
    </form>
</div>
#end

#define ($scripts)
<script>
    M.FormSelect.init(document.querySelectorAll('select'));

    function displayColor(value) {
        const preview = id('embedPreview');

        preview.style.background = value;

        if (brightnessByColor(value) >= 150) {
            preview.classList.add('black-text');
            preview.classList.remove('white-text');
        } else {
            preview.classList.remove('black-text');
            preview.classList.add('white-text');
        }
    }

    displayColor('$guildColor');

    function showColorPicker() {
        id('embedColor').click()
    }

    function checkSelect(selectId, checkBox) {
        let box = id(checkBox);
        let select = id(selectId);
        if (select.value) {
            box.checked = true;
            box.disabled = false;
        } else {
            box.checked = false;
            box.disabled = true;
        }
    }

    // Adapted from https://gist.github.com/w3core/e3d9b5b6d69a3ba8671cc84714cca8a4
    function brightnessByColor (color) {
        const match = color.substr(1).match(color.length === 7 ? /(\S{2})/g : /(\S)/g);

        if (match) {
            const r = parseInt(match[0], 16);
            const g = parseInt(match[1], 16);
            const b = parseInt(match[2], 16);

            return (
                (r * 299) +
                (g * 587) +
                (b * 114)
            ) /1000;
        }

        return null;
    }
</script>
#end

#parse('/views/templates/base.vm')
