<div class="row">
    <div class="col s12">
        ## Spam filter
        #parse('/views/dashboard/includes/moderation/modlogAndSwitches.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/muteAndKick.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/spamLimits.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/warnActions.vm')

        <div class="row">
            <hr>
        </div>

        #parse('/views/dashboard/includes/moderation/autoBanAccounts.vm')
    </div>
</div>
